<div class="About Us">
  <h1>About Us</h1>
  	<small>Since Aug 26, 2016</small></h1>
</div>
<p>Apply Science To Real Orientation</p>
<p>Hi, we are from Korean International School at Jeju. Many of us are learning science and math without learning the real purpose of learning them. We thought that by making the models that we can really use in our world, we can connect the things that we learned to our life.</p>