<div class="jumbotron .center">
	<h1>Apply Science To Real Orientation!</h1>
	<p>Why do we learn science and math?<p> 
	<p>Find the answer
		<%= link_to "Here", "#", class: "btn btn-primary btn-lg" %>.
	</p>
</div>